<style>
  #wrapper {
    padding: 100px 0px;
  }
  form {
    padding-top: 100px;
    width : 200px;
    margin: auto;
  }
</style>
<div class="wrapper text-center">
  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input class="form-control" type="text" id="question" name="query" placeholder="what time is it?"><br>
    <input class="btn btn-primary" type="submit" value="Go on!">
  </form>
</div>
